<div id="root"> 
        <div id="container" > 
          <svg id="drawingBoard"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="800px" height="550px"> 
            <g id="myGroup" stroke="black" stroke-width="4"> 
                 
            </g> </svg>
      </div> 
      <app-toolbar (ShapeCircle)="selectShapeCircle()" (ShapeLine)="selectShapeLine()" (clear)="clearAll()" [flagCircleSelected]="flagCircleSelected" [flagLineSelected]="flagLineSelected"></app-toolbar>
     
      </div>
